
<div class="job-posting-field-container">
  <mat-form-field>
    <input matInput [(ngModel)]="postingUrl" placeholder="Posting URL">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="postingTitle" placeholder="Title">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="employerName" placeholder="Company">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="contactEmail.value" placeholder="Contact Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="contactPhone.value" placeholder="Contact Phone">
  </mat-form-field>

</div>