<p>
  favorite-job-record works!
</p>



<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile class="favorite-job-record-tile">
    <jc-mini-job-record></jc-mini-job-record>
  </mat-grid-tile>
  <mat-grid-tile>
    <jc-mini-job-record></jc-mini-job-record>
  </mat-grid-tile>
  <mat-grid-tile>
    <jc-mini-job-record></jc-mini-job-record>
  </mat-grid-tile>
  <mat-grid-tile>
    <jc-mini-job-record></jc-mini-job-record>
  </mat-grid-tile>
  <mat-grid-tile>
    <jc-mini-job-record></jc-mini-job-record>
  </mat-grid-tile>
</mat-grid-list>



<!-- <jc-mini-job-record #jcMiniJobRecord></jc-mini-job-record> -->