<p>
  job-detail-record works!
</p>



<mat-tab-group>
  <mat-tab label="Summary">
    <jc-job-detail-summary #jcJobDetailSummary></jc-job-detail-summary>
  </mat-tab>
  <mat-tab label="Posting">
    <jc-job-detail-posting #jcJobDetailPosting></jc-job-detail-posting>
  </mat-tab>
  <mat-tab label="Application">
    <jc-job-detail-application #jcJobDetailApplication></jc-job-detail-application>
  </mat-tab>
  <mat-tab label="Followup">
    <jc-job-detail-followup #jcJobDetailFollowup></jc-job-detail-followup>
  </mat-tab>
  <mat-tab label="Memo">
    <jc-job-detail-memo #jcJobDetailMemo></jc-job-detail-memo>
  </mat-tab>
</mat-tab-group>
